* text=auto eol=lf
*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.txt text eol=lf
Makefile text eol=lf
*.sh text eol=lf
*.bash text eol=lf
LICENSE text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.golangci.yml text eol=lf
